
test --test_output=errors
test:release --@rules_rust//:extra_rustc_flags="-Clto=on,-Ccodegen-units=1,-Copt-level=z"
build:release --@rules_rust//:extra_rustc_flags="-Clto=on,-Ccodegen-units=1,-Copt-level=z"
build:release --config=common
