
test --test_output=errors
common --announce_rc
test:release --@rules_rust//:extra_rustc_flags="-Clto=on,-Ccodegen-units=1,-Copt-level=z"
build:release --@rules_rust//:extra_rustc_flags="-Clto=on,-Ccodegen-units=1,-Copt-level=z"
